DATA/RXN
DATA/SUB
PREP/scr*
PREP/Data/
periodSys/Data/
reaction_template/scr/
reaction_template/Data/
**/__pycache__/
**/scr/
**/log/
**/foundGroups/
**/Data/*tsv
**/Data/*bin
**/Data/*npz
*tsv
*rxns_data.txt
subs_yr_cnr_auth.txt
*detailed*
rxns/tables
*csv
*txt
/periodSys/Notebooks/*.png
/.DS_Store
/periodSys/exports/
/periodSys/Notebooks/.ipynb_checkpoints/
/periodSys/App/assets/mpi_mis_logos.zip
